
.income{
  stroke: white;
  fill: green;
  stroke-width: 1.5px;
}

.adjusted{
  fill: red;
  stroke: white;
  stroke-width: 1.5px;
}

.chart{
background-color: steelblue;
}

.key{
background-color: orange;
}

.chartText{
font-size: .85em;
}


